.filter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(14,64,122,1);
    border-radius: 8px;
}

button{
    font-size: 16px;
}
.filter form {
    padding: 1em;
}

.filter-btn button{
    margin: 0 0.5em;
    cursor: pointer;
    border:none;
    padding: 0.5em;
    border-radius: 5px;

}


.filter-btn button:focus, .filter-btn button:hover{
    outline:0;
    background-color: #afafaf;
}

label{
    color: #ffffff;
    font-size: 16px;
}

input, select {
    flex-grow: 1;
}


.finance-sheet .form-group div {
    flex-grow: 1;
    display: flex;
    text-align: center;
    align-items: center;
} 