.App {
  text-align: center;
  width: 100%;
  background-color: #dedede;
  min-height: 100vh;
}



.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header span {
  color: #9B9B9B;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 0.5rem;
align-self: flex-end;
}


.main{
  padding: 0 2em 2em;
}


.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: #dc3545;
}

.is-invalid {
  border-color: #dc3545;
}

.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
